# Cached copy of the official SPDX license list, refetched on demand.
.spdx_license_cache.json

# SBOMs written by the script.
*-original-spdx.json
*-cleaned-spdx.json

.env
.env.*
.env~
venv/
__pycache__/
